* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:rgb(211, 211, 211);
  border-radius: 50px;
  height: 10px;
}